In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv("https://raw.githubusercontent.com/washingtonpost/data-police-shootings/master/fatal-police-shootings-data.csv")

# Limpieza de Datos

Primero es importante ver la cantidad de datos que trae el dataset y además revisar cuántos valores nulos (NaN) hay en este mismo.

In [ ]:
print("Cantidad de Datos: ", len(data), "\n")
print("Cantidad de nulos por atributo: ")
data.isnull().sum()

Cantidad de Datos:  5673

Cantidad de nulos por atributo:

id                           0
name                       209
date                         0
manner_of_death              0
armed                      212
age                        253
gender                       1
race                       590
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                       283
body_camera                  0
longitude                  275
latitude                   275
is_geocoding_exact           0
dtype: int64

El atributo de raza posee la mayor cantidad de nulos, sin embargo solo logra ser el 10% de la cantidad total de datos, de modo que es razonable la idea de eliminar los datos que poseen nulos. Además los atributos ID y nombre no son importantes en el procedimiento y obtención de datos que se llevará a cabo, de modo que ambas columnas se deben eliminar.

In [ ]:
tamanho_inicial = len(data)
data = data.drop(["id","name","is_geocoding_exact"],axis=1)
data = data.dropna()
tamanho_final = len(data)

print("Tamaño pre procesado: ",tamanho_inicial,"\nTamaño post procesado: ", tamanho_final,"\n")
print("Diferencia: ",tamanho_inicial-tamanho_final)
print("Porcentaje eliminado: ",(int(100-((tamanho_final*100)/tamanho_inicial))),'%')

Tamaño pre procesado:  5673
Tamaño post procesado:  4371

Diferencia:  1302
Porcentaje eliminado:  22 %

In [ ]:
data.head(4)

         date   manner_of_death       armed  ...  body_camera longitude latitude
0  2015-01-02              shot         gun  ...        False  -123.122   47.247
1  2015-01-02              shot         gun  ...        False  -122.892   45.487
2  2015-01-03  shot and Tasered     unarmed  ...        False   -97.281   37.695
3  2015-01-04              shot  toy weapon  ...        False  -122.422   37.763

[4 rows x 14 columns]